section#navbar {
    width: 100%;
    display: inline-grid;
    background: beige;
    padding: 10px 0;
}
a.navbar-item {
    color: #333;
    font-size: 16px;
    margin: 0 40px;
    float: right;
    text-decoration: none;
}

section#sidebar{
    background: #fafafa;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100vh;
    position: fixed;
    float: left;
}

ul#sidebar li {
    margin: 20px 10px;
}
ul#sidebar li a {
    color: #333;
    font-size: 17px;
    font-weight: 400;
}
ul#sidebar {
    list-style: none;
}
section.outer-main {
    width: 85%;
    text-align: center;
    display: inline-block;
    float: right;
}
button#switch_button {
    float: right;
    margin: 10px;
}
.table-box h1 {
    font-size: 30px;
}
.table-box {
    width: 100%;
    display: inline-grid;
    margin-top: 60px;
}
table.main-table {
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    margin: 50px 0;
}
th, td {
    padding: 10px 50px;
}
.card:nth-child(even) {
    background-color: #eee;
}

td#view-more {
    float: right;
}
.btn-primary{
    background: #999 !important;
    color: #333 !important;
    border: #999 !important;
    outline: none !important;
}
.card{
    border: none !important;
}
button.edit.btn.btn-primary {
    background: #d2d224 !important;
}
button.delete.btn.btn-primary {
    background: #ed3434 !important;
}
.collapse.show {
    background: #ddd;
}
.collapse.show .card-body{
    padding: 0 30px;
}
thead {
    border-bottom: 1px solid #ccc;
}
img.sidebar-logo {
    width: 300px;
}


  .about.text {
    padding: 85px 0;
}
.about.text h1 {
    font-size: 73px;
    margin-bottom: 40px;
    font-weight: bold;
}
.about.text p {
    font-size: 16px;
    font-weight: 500;
}

section.team{
    padding: 100px 150px 180px 150px;

}
section.team img {
    border-radius: 7px;
}

.team.text{
    text-align: center;
}
.team.text h1 {
    font-size: 33px;
    margin: 20px auto;
    font-weight: 600;
    letter-spacing: 1px;
}
.team.text h5 { 
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
}
.title h1 {
    font-weight: 600;
    font-size: 55px !important;
    margin: 20px 0 40px 0;
    letter-spacing: 1px;
}
a.copyright {
    font-size: 17px;
    color: #fafafa;
    font-weight: 500;
}
img.footer-logo {
    float: right;
    width: 250px;
}

.col-4{
    text-align: center;
}

section#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: beige;
}
section#footer p {
    font-size: 13px;
    padding: 0 10px;
}